$cotton-candy: #FFC2E2;

body {
  margin: 0;
  font-family: "arial black", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-X: hidden;
  background: black;

  * {
    color: white
  }
  a {
    color: #00ff00;
    text-shadow: 1px 1px 5px #00ff00, 0 0 25px #1eb45d, 0 0 5px #098a54;
  }
}

p {
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
